/*
Lift
*/
text {font: 12px sans-serif;}
svg {display: block;}
html, body, #chart1, svg {
    margin: 0px;
    padding: 0px;
    height: 90%;
    width: 100%;
}
.dashed {stroke-dasharray: 5,5;}
/*
ROC
*/
#roc path {
    stroke-width: 3;
    fill: none;
    opacity: .7;
}

#roc .axis path,
#roc .axis line {
    fill: none;
    stroke: grey;
    stroke-width: 2;
    shape-rendering: crispEdges;
    opacity: 1;
}

#roc .d3-tip {
    font-family: Verdana;
    background: rgba(0, 0, 0, 0.8);
    padding: 8px;
    color: #fff;
    z-index: 5070;
  }
